.v-PatientDemographics {
    border-right: 1px solid #ddd;
    height: 100%;
    min-height: 62px;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    color: #505050;
    font-size:14px;
    position:relative;
    cursor:default;
    background-color: #fffaf1;
}

.v-PatientDemographics.is-active {
    background-color:#eee;
}

.v-PatientDemographics.hasPatient {
    cursor:pointer;
}

.v-PatientDemographics .patientName {
    font-weight: bold;
}

.v-PatientDemographics > .patientStats {
    display: flex;
    margin-top:10px;
}

.v-PatientDemographics .patientSSN {
    flex:1;
    display:inline-block;
}

.v-PatientDemographics .patientDOB {
    display:inline-block;
}

.v-PatientDemographics .noPatient {
    font-style: italic;
}