.desktop {
    width:100%;
    height:100%;
    box-sizing:border-box;
    overflow:auto;

}



.desktop > .content {
    position:absolute;
    top:44px;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
}

.content > .v-Portal {
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background:none;
    flex:1;
}

.v-MenuItem {
    font-size:13px;
}

.v-MenuItem .icon {
    font-size:17px;
    left:10px;
}

.content > .patientInfo {
    min-height:62px;
    width:100%;
    border-top:1px solid #232e3c;
    border-bottom:1px solid #bfbfbf;
    background-color:#fafafa;
    box-shadow: 0 2px 8px #bbb;
}

