.patientSelectWindow .content {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    padding:15px;
    box-sizing: border-box;
}


.patientSelectWindow .confirmBtns {
    position:absolute;
    right:20px;
    top:15px;
    width:100px;

}

.patientSelectWindow .confirmBtns .v-Button {
    width:100px;
    margin-bottom:5px;
}

.patientSelectWindow .top {
    width:400px;
    flex:1;
    display:flex;
    flex-direction: row;

}

.patientSelectWindow .top .patientSelect {
    min-width:250px;
    height:100%;
    display:flex;
    flex-direction: column;
}

.patientSelectWindow .patientSelect .patientList {
    width:100%;
    flex:1;
    border:1px solid #ced3d7;
    margin-top:5px;
    background:#fff;
    box-sizing: border-box;

}

.patientSelectWindow .v-ProgressiveList {
    width:100%;
    height:100%;
}

.patientSelectWindow .demographics {
    border:1px solid #ced3d7;;
    box-sizing: border-box;
    margin-left:15px;
    font-size:14px;
    min-width:250px;
    height:200px;
    padding:10px;
    border-radius: 5px;
}


.patientSelectWindow .demographics .heading {
    font-weight:bold;
    margin-bottom:8px;
}

.patientItem {
    padding:7px 0 15px 8px;
    border-bottom:1px solid #e5e5e5;
    height:35px;
    color:#505050;
    white-space: nowrap;
    width:100%;
}

.patientItem .label {
    font-size:13px;
}






