<div class="rpc-counts">
    <div class="row charts">
        <div class="col-md-2">
            <div class="rpc-received"></div>
        </div>
        <div class="col-md-3">
            <div class="distinct-pie-chart-container"></div>
        </div>
        <div class="col-md-3">
            <div class="locked-pie-chart-container"></div>
        </div>
        <div class="col-md-4">
            <div class="category-pie-chart-container"></div>
        </div>
    </div>
    <div class="row tables">
        <div class="col-md-5">
            <div class="table-label">Top 20</div>
            <div class="top20"></div>
        </div>
        <dic class="col-md-2"></dic>
        <div class="col-md-5">
            <div class="table-label">Emulated RPCs (<span class="locked-total">{{lockedRPCCount}}</span> of {{total}})</div>
            <div id="locked-rpc-table"></div>
        </div>
    </div>
</div>