<div class="events">
    <div class="submenu">

        <span class="glyphicon glyphicon-filter" alt="Event type filter label."></span>

        <div id="filter"></div>

        <a href="#" class="clear-events-list" title="Clear MVDM Events List">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </a>

        <div>
            <span class="events-status">
            <span>
                <div class="submenu-label">Total:</div>
                <span class="event-count-total"></span>
            </span>
            <span>
                <div class="submenu-label">Describe:</div>
                <span class="event-count-describe"></span>
            </span>
            <span>
                <div class="submenu-label">List:</div>
                <span class="event-count-list"></span>
            </span>
            <span>
                <div class="submenu-label">Create:</div>
                <span class="event-count-create"></span>
            </span>
            <span>
                <div class="submenu-label">Update:</div>
                <span class="event-count-update"></span>
            </span>
            <span>
                <div class="submenu-label">Remove:</div>
                <span class="event-count-remove"></span>
            </span>
            <span>
                <div class="submenu-label">Unremoved:</div>
                <span class="event-count-unremoved"></span>
            </span>
            <span>
                <div class="submenu-label">Delete:</div>
                <span class="event-count-delete"></span>
            </span>
            <span>
                 <strong class="submenu-label">RPC Emulate: </strong>
                 <span class="glyphicon glyphicon-ok-sign hidden" alt="RPC Lock is on"></span>
                 <span class="glyphicon glyphicon-remove-sign hidden" alt="RPC lock is off"></span>
            </span>
        </span>

        </div>
    </div>

    <div id="events-table"></div>

    <div id="event-modal-container"></div>
</div>
